[submodule "xmrig"]
	path = xmrig
	url = https://github.com/busyboredom/xmrig.git
[submodule "p2pool"]
	path = p2pool
	url = https://github.com/SChernykh/p2pool
[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero.git
